katzenpost_thinclient==0.0.3
asyncio==3.4.3
build==1.2.2.post1
cbor2==5.6.0
cffi==1.17.1
click==8.1.7
coloredlogs==15.0.1
cryptography==41.0.7
humanfriendly==10.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pprintpp==0.4.0
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.2.0
rich==13.9.3
tomli==2.0.2
