asyncio==3.4.3
build==1.2.2.post1
cbor2==5.6.0
cffi==1.17.1
click==8.1.7
coloredlogs==15.0.1
cryptography==41.0.7
humanfriendly==10.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pprintpp==0.4.0
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.2.0
rich==13.9.3
-e git+ssh://git@github.com/katzenpost/thin_client.git@31f8b5451efc1551b35408af1fd3a3e70bb7204c#egg=thinclient
